# {{ ansible_managed }}
alias ansible-galaxy="source ~/venv/ansible/bin/activate && ansible-galaxy"
alias ansible-playbook-vault="source ~/venv/ansible/bin/activate && ansible-playbook --vault-password-file ~/.ansible-vault-password"
alias ansible-playbook="source ~/venv/ansible/bin/activate && ansible-playbook"
alias ansible-vault="source ~/venv/ansible/bin/activate && ansible-vault --vault-password-file ~/.ansible-vault-password"

# no generic
alias ansible-roles="cd ~/works/repos/numberly/team-infrastructure/ansible-galaxy"
alias ansible-1m="cd ~/works/repos/numberly/team-infrastructure/ansible"

# terraform
alias terrascan="source ~/venv/terraform/bin/activate && terrascan"
alias terrascan="source ~/venv/terraform/bin/activate && terrascan"
alias terraform-1m="cd ~/works/repos/numberly/team-infrastructure/terraform-numberly"
