# {{ ansible_managed }}
alias ansible-playbook="source ~/venv/ansible/bin/activate && ansible-playbook"
alias ansible-playbook-vault="source ~/venv/ansible/bin/activate && ansible-playbook --vault-password-file ~/.ansible-vault-password"
