# {{ ansible_managed }}

general {
    color_bad = "#dc322f"
    color_degraded = "#cb4b16"
    color_good = "#859900"
    color_separator = "#586e75"
    colors = true
    interval = 10
    output_format = "i3bar"
    interval = 5
}

order += "backlight"
order += "yubikey"
order += "xrandr"
order += "battery 0"
order += "tztime local"

xrandr {
    cache_timeout = 5
    fallback = true
    force_on_change = ["DP1", "eDP1"]
}
