# {{ ansible_managed }}

# alias ansible-galaxy="source ~/venv/ansible/bin/activate && ansible-galaxy"
# alias ansible-playbook-vault="source ~/venv/ansible/bin/activate && ansible-playbook --vault-password-file ~/.ansible-vault-password"
# TODO: fix with pyenv global
# alias ansible-playbook="source ~/venv/ansible/bin/activate && ansible-playbook"
# alias ansible-vault="source ~/venv/ansible/bin/activate && ansible-vault --vault-password-file ~/.ansible-vault-password"

alias apg="apg -n 3 -m 15 -x 15 -M CLN"
alias cruft="source ~/venv/cruft/bin/activate && cruft"
alias ssh='TERM=xterm-256color ssh'

alias ls='exa'
alias exa='exa --tree --level=2 --icons'
alias cz="{{ home }}/venv/commitizen/bin/cz"

alias cat='batcat'
alias more='batcat'

# aws
alias aws="~/venv/awscli/bin/aws"
alias aws-diva-production='docker exec chrome /bin/bash -c "AWS_PROFILE=diva-production aws sts get-caller-identity"'
alias aws-diva-staging='docker exec chrome /bin/bash -c "AWS_PROFILE=diva-staging aws sts get-caller-identity"'
alias aws-numberly='docker exec chrome /bin/bash -c "AWS_PROFILE=default aws sts get-caller-identity"'

# k8s-azure
alias az-uea-production="az aks get-credentials --name nbly-production-kubernetes1 --resource-group rg-dubai --overwrite-existing"

# kubernetes
alias stern-par5="stern --context kubernetes1-pr-par5"
alias stern-dev="stern --context kubernetes1-dv-par5"
alias stern-old="stern --context k8s-pr-1"
alias stern-pa7="stern --context kubernetes1-pr-pa7"
#
alias kubectl-par5="kubectl --context kubernetes1-pr-par5"
alias kubectl-dev="kubectl --context kubernetes1-dv-par5"
alias kubectl-old="kubectl --context k8s-pr-1"
alias kubectl-pa7="kubectl --context kubernetes1-pr-pa7"
#
alias k9s-par5="k9s --context kubernetes1-pr-par5"
alias k9s-dev="k9s --context kubernetes1-dv-par5"
alias k9s-old="k9s --context k8s-pr-1"
alias k9s-pa7="k9s --context kubernetes1-pr-pa7"

# kerberos
alias kerberos-jthe="kinit jthe -kt /home/jthe/works/certificates/keytabs/jthe.keytab -c /tmp/krb5_cache"

# vault
alias vault-login='vault login -address=https://vault1.numberly.in:8200 -method=ldap username=jthe -format=json'

# vpn
alias vpn="sudo openvpn /etc/openvpn/jthe.ovpn"
