# {{ ansible_managed }}
alias ansible-galaxy="source ~/venv/ansible/bin/activate && ansible-galaxy"
alias ansible-playbook-vault="source ~/venv/ansible/bin/activate && ansible-playbook --vault-password-file ~/.ansible-vault-password"
alias ansible-playbook="source ~/venv/ansible/bin/activate && ansible-playbook"
alias ansible-vault="source ~/venv/ansible/bin/activate && ansible-vault --vault-password-file ~/.ansible-vault-password"

alias apg="apg -n 3 -m 15 -x 15 -M CLN"
alias cruft="source ~/venv/cruft/bin/activate && cruft"
alias ssh='TERM=xterm-256color ssh'

# no generic
alias ansible-1m="cd ~/works/repos/numberly/team-infrastructure/ansible"
alias dmp="cd ~/works/repos/numberly/team-dmp/"
alias nmp="cd ~/works/repos/numberly/team-nmp/backend"
alias data-ops="cd ~/works/repos/numberly/team-data-ops"
alias github="cd ~/perso/repos/github/lujeni"

# terraform
alias terrascan="source ~/venv/terraform/bin/activate && terrascan"
alias terrascan="source ~/venv/terraform/bin/activate && terrascan"
alias terraform-1m="cd ~/works/repos/numberly/team-infrastructure/terraform-numberly"
alias terraform-diva="cd ~/works/repos/numberly/team-infrastructure/terraform-diva"

# aws-google-saml
alias aws-numberly-production='gsts --aws-role-arn arn:aws:iam::569381709489:role/AdminWithSAML --sp-id 97839510104 --idp-id C04he5wkr --username julien.thebault@numberly.com --aws-session-duration 43200 --aws-profile default'
alias aws-diva-staging='gsts --aws-role-arn arn:aws:iam::315989535748:role/AdminWithSAML --sp-id 97839510104 --idp-id C04he5wkr --username julien.thebault@numberly.com --aws-session-duration 43200 --aws-profile diva-staging'

# azure auth
alias az-uea-production="az aks get-credentials --name nbly-production-kubernetes1 --resource-group rg-dubai --overwrite-existing"

# kubernetes
alias stern-par5="stern --context kubernetes1-pr-par5"
alias stern-pa7="stern --context k8s-pr-1"
alias kubectl-par5="kubectl --context kubernetes1-pr-par5"
alias kubectl-pa7="kubectl --context k8s-pr-1"

# kerberos
alias kerberos-jthe="kinit jthe -kt /home/lujeni/works/certificates/keytabs/jthe.keytab"

# vault
alias vault-login='VAULT_ADDR=https://vault1.numberly.in:8200 vault login -method=ldap username=jthe'
