# {{ ansible_managed }}
if [[ $- != *i* ]] ; then
	# Shell is non-interactive.  Be done now!
	return
fi

for file in {{ system_sources_files|join(" ") }}; do
    source "$HOME/.$file"
done
unset file

# yubikey
if test -f $HOME/.gpg-agent-info && \
    kill -0 `ps aux | grep gpg-agent` 2>/dev/null; then
    eval `cat $HOME/.gpg-agent-info`
else
    eval `gpg-agent --daemon -s > $HOME/.gpg-agent-info`
fi
export GPG_TTY="$(tty)"
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpg-connect-agent updatestartuptty /bye

# go
export PATH=$PATH:/usr/local/go/bin

# pyenv
export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# rust
source "$HOME/.cargo/env"

#
eval "$(starship init bash)"
