# {{ ansible_managed }}
alias ansible-galaxy="source ~/venv/ansible/bin/activate && ansible-galaxy"
alias ansible-playbook-vault="source ~/venv/ansible/bin/activate && ansible-playbook --vault-password-file ~/.ansible-vault-password"
alias ansible-playbook="source ~/venv/ansible/bin/activate && ansible-playbook"
alias ansible-vault="source ~/venv/ansible/bin/activate && ansible-vault --vault-password-file ~/.ansible-vault-password"

alias apg="apg -n 3 -m 15 -x 15 -M CLN"
alias cruft="source ~/venv/cruft/bin/activate && cruft"

# no generic
alias ansible-1m="cd ~/works/repos/numberly/team-infrastructure/ansible"
alias dmp="cd ~/works/repos/numberly/team-dmp/"
alias github="cd ~/perso/repos/github/lujeni"
alias aws="/usr/local/bin/aws"

# terraform
alias terrascan="source ~/venv/terraform/bin/activate && terrascan"
alias terrascan="source ~/venv/terraform/bin/activate && terrascan"
alias terraform-1m="cd ~/works/repos/numberly/team-infrastructure/terraform-numberly"
alias terraform-diva="cd ~/works/repos/numberly/team-infrastructure/terraform-diva"

# aws-google-auth
alias aws-google-auth="source ~/venv/aws-google-auth/bin/activate && aws-google-auth"
alias aws-diva-production="aws-google-auth -u julien.thebault@numberly.com -I C04he5wkr -S 97839510104 -R eu-west-3 -d 28800 --account diva-production --profile diva-production --role-arn arn:aws:iam::307361919139:role/AdminWithSAML"
alias aws-numberly-production="aws-google-auth -u julien.thebault@numberly.com -I C04he5wkr -S 97839510104 -R eu-west-3 -d 28800 --account 1000mercis --profile default --role-arn arn:aws:iam::569381709489:role/AdminWithSAML"
