#!/bin/bash
# {{ ansible_managed }}

repo_check(){
    if [ ! -d "$@" ]; then
        echo "directory $@ doesn't exist"
        return 1
    fi
    cd $@
    for repo in *;
    do
        pushd $repo;
        git status;
        popd;
    done
    return 0
}

repo_update(){
    if [ ! -d "$@" ]; then
        echo "directory $@ doesn't exist"
        return 1
    fi
    cd $@
    for repo in *;
    do
        pushd $repo;
        git stash;
        git checkout master;
        git pull origin master --rebase;
        popd;
    done
    return 0
}
