# {{ ansible_managed }}
[core]
    excludesfile = ~/.gitignore_global
    editor = vim

[includeIf "gitdir:~/works/gitlab/"]
  path = .gitconfig-gitlab

[includeIf "gitdir:~/works/github/"]
  path = .gitconfig-github

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    default = matching

[commit]
    gpgsign = true

[branch]
    sort = -committerdate

[column]
    ui = auto

[pull]
    rebase = true
