local set_keymap = require('common').set_keymap
local nvim_set_keymap = require('common').nvim_set_keymap

-- common
vim.g.mapleader = ","

-- git-blame
set_keymap('n', '<leader>gb', '<cmd>GitBlameToggle<cr>')

-- plug
set_keymap('n', '<leader>pi', '<cmd>PlugInstall<cr>')
set_keymap('n', '<leader>pu', '<cmd>PlugUpdate<cr>')

-- telescope
set_keymap('n', '<C-p>','<cmd>Telescope find_files<cr>')
set_keymap('n', '<leader>fd', '<cmd>Telescope git_files<cr>')
set_keymap('n', '<leader>fg', '<cmd>Telescope live_grep<cr>')
set_keymap('n', '<leader>fb', '<cmd>Telescope buffers<cr>')
set_keymap('n', '<leader>fh', '<cmd>Telescope help_tags<cr>')
set_keymap('n', '<leader>fl', '<cmd>Telescope lsp_document_symbols<cr>')
set_keymap('n', '<leader>fk', '<cmd>Telescope keymaps<cr>')
set_keymap('n', '<leader>fm', '<cmd>Telescope heading<cr>')
