local cmd = vim.cmd
local opt = vim.opt
local has = vim.fn.has

cmd('colorscheme dracula')
cmd('filetype plugin indent on')
cmd('syntax enable')

cmd('set mousehide') -- hide mouse when characters are typed
opt.autoindent = true -- auto indent for new line
opt.backspace = { 'indent', 'eol', 'start' } -- backspace behaviors
opt.backup = false -- no .bak
opt.cmdheight = 2 -- height of :command line
opt.colorcolumn = { 120 } -- display a color column when line is longer than 120 chars
opt.completeopt = { 'menuone', 'noselect' }
opt.cursorline = true -- show cursor line
opt.encoding = 'utf-8'
opt.expandtab = true -- expand tab
opt.fileencoding = 'utf-8'
opt.fileencodings = { 'utf-8' }
opt.hidden = true
opt.hlsearch = true -- highlight search
opt.ignorecase = false -- search with no ignore case
opt.inccommand = 'nosplit' -- live substitute preview
opt.incsearch = false -- no incremental search
opt.list = true -- show tabs with listchars
opt.mouse = 'nv' -- enable mouse under normal and visual mode
opt.number = true
opt.ruler = true -- show ruler line
opt.shiftwidth = 4 -- auto indent shift width
opt.shortmess:append('c') -- status line e.g. CTRL+G
opt.showmatch = true -- show bracket match
opt.signcolumn = 'yes' -- show sign column (column of the line number)
opt.softtabstop = 4 -- soft tab stop
opt.splitbelow = true -- split to below
opt.splitright = true -- split to right
opt.swapfile = false -- no .swap
opt.tabstop = 4 -- tab stop
opt.undofile = true -- use undo file
opt.updatetime = 300 -- time (in ms) to write to swap file
opt.whichwrap = 'b,s,<,>,[,]' -- cursor is able to move from end of line to next line
opt.wildmenu = true -- wildmenu, auto complete for commands
opt.wildmode = { 'longest', 'full' }

if not has('gui_running') then
    opt.t_Co = 256
end
if has('termguicolors') then
    cmd('let &t_8f = "\\<Esc>[38;2;%lu;%lu;%lum"')
    cmd('let &t_8b = "\\<Esc>[48;2;%lu;%lu;%lum"')
    opt.termguicolors = true
end
