# {{ ansible_managed }}
COMMON_FLAGS="-O2 -pipe"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"
 
PORTDIR="/var/db/repos/gentoo"
DISTDIR="/var/cache/distfiles"
PKGDIR="/var/cache/binpkgs"
 
LC_MESSAGES=C
MAKEOPTS="-j7"
ABI_X86="32 64"
EMERGE_DEFAULT_OPTS="--keep-going=y --jobs=20"
USE="{{ system_global_use|join(" ") }}"
INPUT_DEVICES="{{ system_input_devices|join(" ") }}"
VIDEO_CARDS="intel i965"
GRUB_PLATFORMS="efi-64"
PYTHON_SINGLE_TARGET="python3_5"
PYTHON_TARGETS="python2_7 python3_5 python3_6" 
EMERGE_DEFAULT_OPTS="{{ system_emerge_options|join(" ") }}"
