# {{ ansible_managed }}
baseurl = "http://thebault.co/"
themesDir = "{{ blog_root_dir }}/themes"
languageCode = "en-us"
title = "Lujeni"
theme = "{{ blog_theme }}"
googleAnalytics = "{{ blog_ga }}"
disqusShortname = "lujeni"

[params]
	name = "Lujeni"
	description = "memo"
	bio = "SysAdmin - Pythonista - Go enthusiast"
	enableRSS = true

	# Add custom assets with their paths relative to the static folder
	customCSS = []
	customJS  = []

	# Navigation links
	home = ""
	about = ""
	subscribe = ""
	# Pagination links
	olderPosts = ""
	newerPosts = ""
	readMore = ""
	copyright = ""
	# Sharing options and author information in posts
	aboutAuthor = "I'm an enthusiastic gopher."
	tweet = ""
	share = ""
	# 404 page
	title404 = ""
	subtitle404 = ""
	iconFont = "font-awesome"
    socialIconStyle = "circle"

[social]
    github   = "https://www.github.com/lujeni"
